* {
    padding: 0;
    margin: 0%;
    box-sizing: content-box;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

#header {
    height: 70px;
    background-color: rgb(74, 71, 71);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    /*align-self: stretch;*/
}

#search-wrapper {
    position: relative;
    width: 100%;
}

#search-wrapper input {
    position: relative;
    width: 100%;
}

.search-item {
    padding: 4px 0;
}

#search-dropdown {
    position: absolute;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px -4px 40px rgb(255, 255, 255, 0.06), 0px 4px 24px rgb(16, 37, 62, 0.04), 0px 24px 48px rgb(75,  82,  93, 0.02);
    width: 100px;
    padding: 4px;
}

#main-content {
    height: calc(100vh - 140px);
    overflow: auto;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 900px;
}

.show-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    /*align-items: center;*/
    width: 900px;
    padding-top: 24px;
}

.show-item {
    width: 290px;
}

.show-item img{
    width: 100%;
    object-fit: cover;
}

#footer {
    height: 70px;
    background-color: rgb(74, 71, 71);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    align-self: stretch;
}