* {
    padding: 0;
    margin: 0%;
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*flex-wrap: wrap;*/
}

#header {
    height: 70px;
    background-color: rgb(74, 71, 71);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    align-self: stretch;
    color: white;
    width: 100%;
    position: sticky;
}

#home-button {
    cursor: pointer;
    padding: 24px;
}

#search-wrapper {
    position: relative;
    width: 200px;
    margin-right: 24px;
}

#search-wrapper input {
    position: relative;
    width: 100%;
    height: 36px;
    border-radius: 4px;
    padding: 0 8px;
}

.search-item {
    padding: 4px 8px;
    cursor: pointer;
}

.search-item:hover {
    color: blue;
}

.search-item:first-child {
    margin-top: 4px;
}

.search-item:last-child {
    margin-top: 4px;
}

#search-dropdown {
    position: absolute;
    top: 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px -4px 40px rgb(255, 255, 255, 0.06), 0px 4px 24px rgb(16, 37, 62, 0.04), 0px 24px 48px rgb(75,  82,  93, 0.02);
    width: 200px;
    color:rgb(74, 71, 71);
    /*padding: 4px;*/
}

#main-content {
    height: calc(100vh - 140px);
    overflow: auto;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*max-width: 1200px;*/
    justify-content: space-between;
}

#main-content h1 {
    margin-top: 24px;
    margin-bottom: 20px;
}

#show-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    padding-top: 24px 0;
}

/*#show-list-item:hover {
    color: blue;
}*/

.show-item {
    width: 350px;
    cursor: pointer;

}

.show-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-direction: inherit;
}

.detail-wrapper img{
    width: 350px;
}

.detail-wrapper {
    margin-left: 0;
    align-items: center;
    justify-content: center;
    columns: 2;
    column-gap: 20px;
    list-style-type: symbols(bulletin);
}

.list-wrapper {
    margin-left: 20px;
}


#footer {
    height: 70px;
    background-color: rgb(74, 71, 71);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    align-self: stretch;
    color: white;
    font-size: x-small;
}