* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /*flex-wrap: wrap;*/
}

#header {
    height: 70px;
    background-color: rgb(1, 1, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    align-self: stretch;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

#home-button {
    cursor: pointer;
    padding: 24px;
}

#search-wrapper {
    position: relative;
    width: 200px;
    margin-right: 24px;
    overflow: visible;
}

#search-wrapper input {
    position: relative;
    width: 200px;
    height: 36px;
    border-radius: 4px;
    padding: 0 8px;
}

.search-item {
    padding: 4px 8px;
    cursor: pointer;
}

.search-item:hover {
    color: blue;
}

.search-item:first-child {
    margin-top: 4px;
}

.search-item:last-child {
    margin-top: 4px;
}

#search-dropdown {
    position: absolute;
    top: 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px -4px 40px rgb(255, 255, 255, 0.06), 0px 4px 24px rgb(16, 37, 62, 0.04), 0px 24px 48px rgb(75,  82,  93, 0.02);
    width: 200px;
    color:rgb(1, 1, 1);
    background-color: white;
    overflow: visible;
}

body {
    background: url('./background-images/mockup-graphics-MBIge9kUMs4-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    /*display: flex;*/
}

#main-content {
    /*height: calc(100vh - 140px);*/
    /*overflow: visible;*/
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-left: 100px;*/
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.p {
    justify-content: center;
    text-align: justify;
    align-items: center;
}

#main-content h1 {
    margin-top: 24px;
    margin-bottom: 20px;
    text-align: center;
}

#show-list {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    /*gap: 10px;*/
    justify-content: space-between;
    align-items: center;
    width: 1380px;
    /*padding-top: 24px 0;*/
}

/*#show-list-item:hover {
    color: blue;
}*/

.show-item {
    width: 350px;
    cursor: pointer;
    /*align-items: center;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*border: 1px;
    border-style: solid;*/
    /*overflow: hidden;*/
    font-weight: bold;
}

.show-item:hover {
    color: rgb(7, 7, 191); 
    transform: scale(1.05);
}



/*
.show-item.zoom {
    width: 350px;
}

.show-item.zoom:hover {
    transform: scale(1.3); 
}*/
/*.show-item.grow { 
    transition: all .2s ease-in-out; 
}

.show-item.grow:hover { transform: scale(1.1); 
}*/

.show-item p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.show-item img{
    width: 280px;
    height: 400px;
    object-fit: cover;
    /*flex-direction: inherit;*/
    /*margin-bottom: 20px;*/
    border-radius: 7px;
    box-shadow: 1px 1px 3px 1px rgb(53, 53, 53);
}

.detail-wrapper img{
    width: 550px;
    border-radius: 7px;
    box-shadow: 1px 1px 3px 1px rgb(53, 53, 53);
}

.detail-wrapper {
    width: 80%;
    display: flex;
    align-items: start;
    /*justify-content: space-between;*/
    gap: 20px;
    text-align: left;
}

.list-wrapper {
    margin-left: 20px;
    font-size: 15px;
    width: fit-content;
}

.season-item, .cast-item {
    margin-left: 15px;
    width: fit-content;
}

#seasons-header, #cast-header {
    font-size: large;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.show-summary {
    /*justify-content: center;*/
    text-align: justify;
    width: 80%;
}

#summary-header {
    font-size: large;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

.h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    
}

h1 {
    text-decoration: rgb(39, 38, 38);
}

#footer {
    height: 70px;
    background-color: rgb(1, 1, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    align-self: stretch;
    color: white;
    font-size: x-small;
    position: relative;
}